<footer >
    <div class="container text-muted" >
        <span> Copyright © 
		<a href="http://iro37.ru/xqwiki/Artel" title="Информационная система управления учебным процессом">ИСУУП </a>
			<script type="text/javascript">
			document.write(new Date().getFullYear());
			</script> г. Все права защищены.
		</span>
        <span class="pl-5">Powered by</span>
        <span class="badge badge-primary">
          <a target="_blank" href="http://iro37.ru/xqwiki/TRaC" style="color : white">TRaC</a>
        </span>
		<span class="pl-5">Специально для</span>
        <span class="badge badge-primary">
          <a target="_blank" href="http://lipers.ru/" style="color : white" title="Автономная некоммерческая общеобразовательная организация Лицей Перспектива">АНО "Лицей "Перспектива"</a>
        </span>
    </div>
</footer> 